<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{components/header :: header}"></div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Nombre</th>
                    <th>Fecha de creacion</th>
                    <th>Nivel asignado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.institutionalEmail}"></td>
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.createdAt}"></td>
                    <td>
                        <a th:href="@{users/edit}">Editar</a>
                        <a th:href="@{users/remove}">Eliminar</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>